<head><link href="style.css" rel="stylesheet"></link></head>
<h1 id="alexander-riggs">Alexander Riggs</h1>
<h4 id="problem-solving-enthusiast-with-a-strong-background-in-math-and-programming">Problem solving enthusiast with a strong background in math and programming</h4>
<h6 id="gitlab-.-github-.-linkedin-.-ajriggs29gmail.com-.-262-349-6884">[ <a href="https://gitlab.com/1riggs">GitLab</a> ] . [ <a href="https://github.com/1riggs">Github</a> ] . [ <a href="https://www.linkedin.com/in/alexander-riggs-647528157">LinkedIn</a> ] . [ ajriggs29@gmail.com ] . [ 262 349 6884 ]</h6>
<h2 id="skills">Skills</h2>
<p><strong>Programming:</strong> Python, SQL, git, Javascript, Java, MATLAB</p>
<p><strong>Python Tools</strong>: scikit-learn, pandas, NumPy, SciPy, SQLAlchemy, NetworkX, FastAPI</p>
<p><strong>Database Systems:</strong> PostgreSQL, Elasticsearch, Oracle APEX, SQLite</p>
<p><strong>GIS Tools:</strong> GDAL/OGR, QGIS, PostGIS, GeoServer, tippecanoe, TiTiler, Nominatim</p>
<p><strong>Linux &amp; Utilities:</strong> Debian &amp; RHEL based distros, bash, vim, sed, awk, cron</p>
<p><strong>Server Administration &amp; DevOps:</strong> AWS, Docker, Jenkins, Terraform, Kubernetes, Helm, NGINX</p>
<p><strong>AWS:</strong> S3, Elasticsearch Service, EC2, ECR, RDS, Cloudfront, Route53, EKS</p>
<p><strong>Javascript:</strong> Node, Express, React, TypeScript</p>
<h2 id="experience">Experience</h2>
<p><strong>Software Engineer, Outside Analytics Inc.</strong> (2018-present, Boulder CO)</p>
<ul>
<li>Managed and designed database schemas for multiple projects</li>
<li>Contributed to APIs which utilized NodeJS with ExpressJS, and Sequelize</li>
<li>Architected and administered CI/CD infrastructure using Docker, Terraform, Jenkins, Chef, AWS EKS, Kubernetes, and Helm</li>
<li>Processed large GIS data sets and created map display assets</li>
<li>Contributed to a statistical model using pandas, NumPy, &amp; SciPy of hunt license lottery in multiple states</li>
<li>Contributed to a machine learning model which predicts a hunter&#x2019;s chance of success in a geographic area</li>
<li>Mentored junior developers through code reviews and peer programming</li>
<li>Created git guidelines to unify and streamline the companies version control strategy</li>
</ul>
<p><strong>Undergraduate Researcher, University of Wisconsin Milwaukee</strong> (2017-2018, Milwaukee WI)</p>
<ul>
<li>Co-author of <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0200266">Scaling Behavior of Drug Transport and Absorption in In Silico Cerebral Capillary Network</a></li>
</ul>
<h2 id="education">Education</h2>
<p><strong>B. S. in Applied Mathematics and Computer Science, University of Wisconsin - Milwaukee</strong> (2013-2018)</p>
<ul>
<li>Undergraduate research on mathematical modeling of biological systems</li>
<li>Coursework in linear algebra, optimzation, mathematical modeling, and algorithms</li>
</ul>
<h2 id="projects">Projects</h2>
<p><strong>Personal Website</strong></p>
<ul>
<li>Simple website for tinkering and self-hosting projects</li>
<li>Uses NGINX, docker &amp; docker-compose, and letsencrypt</li>
<li>Hosted on a Linode Cloud Server</li>
</ul>
<p><strong>Web-accessible Security Camera</strong></p>
<ul>
<li>Webcam turned security camera which allows a logged in user to take a picture, and records video based on motion activity</li>
<li>Uses MotionEye, docker &amp; docker-compose</li>
<li>Hosted on a Raspberry Pi4</li>
</ul>
<p><strong>DWM API</strong></p>
<ul>
<li>A utility application which leverages graph theory to optimize decision making in a video game</li>
<li>Utilizes pandas, FastAPI, PostgreSQL, SQLAchemy, Alembic, and Docker</li>
</ul>
